In [1]:
# sum of 1 to n

n = int(input("enter number"))
sum = 0
for i in range(1,n+1):
    sum = sum +i
print(sum)

enter number123
7626

In [2]:

def summ(n):
    total = 0
    for i in range(1,n+1):     
        total = total+i  
    return total

print(summ(5))

15

In [3]:
# reverse a string
strr = input("Enter string")
# print(reverse(strr))
print()
a = reversed(strr)
print(list(a))
print(strr[::-1])
# print(strr.reverse())

Enter stringrohit

['t', 'i', 'h', 'o', 'r']
tihor

In [4]:
# The reversed() method computes the reverse of a given sequence object and returns it in the form of a list.
# reversed ---> returns list

# reverse()-- changes the list

lst = [1,2,3,4]
lst.reverse()
print(lst)

[4, 3, 2, 1]

In [7]:
# palindrame or not string
strr = input("Enter string ")
if strr == strr[::-1]:
    print("Pallindrome")
else:
    print("Not palindrome")

Enter string MadaM
Pallindrome

In [10]:
# factorial of num
def fac(n):
    if n == 1:
        return 1
    else:
        return n*fac(n-1)
print(fac(5))

120

In [12]:
# armstrong
# 153 = 1**3 + 5 **3 + 3**3
def arm(n):
    rem = 0
    sum = 0
    rem = n%10
    sum = sum + rem**3
    n = n//10
    return sum

inp = int(input())
a = arm(inp)
if inp == a:
    print("armstrong")
else:
    print("Not Armstrong")

153
Not Armstrong

In [13]:
def armm(n):
    strn = str(n)
    sum = 0
    for i in strn:
        sum = sum + int(i)*int(i)*int(i)
    return sum

inp = int(input())
a = armm(inp)
if inp == a: 
    print("armstrong")
else:
    print("Not Armstrong")

153
armstrong

In [1]:
# https://www.complexsql.com/complex-sql-queries-examples-with-answers/

In [2]:
7**4

2401

In [11]:
s = "Hi there Sam!"
ss = list(s)
print(ss)
print(s)
sss = s.split(" ")
print(sss)
st = "Hi,there,Sam!"
ssst = st.split(',')
print(ssst)

['H', 'i', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'S', 'a', 'm', '!']
Hi there Sam!
['Hi', 'there', 'Sam!']
['Hi', 'there', 'Sam!']

In [12]:
ss

['H', 'i', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'S', 'a', 'm', '!']

In [14]:
strr = ''
for i in ss:
    strr = strr+i
    
print(strr)

Hi there Sam!

In [17]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} Kilometers.".format(planet,diameter))
print(f"The diameter of {planet} is {diameter} Kilometers.")

The diameter of Earth is 12742 Kilometers.
The diameter of Earth is 12742 Kilometers.

In [1]:
print("Hello World")

Hello World

In [6]:
a = int(input())
b = int(input())
print(a+b)

2
3
5

In [8]:
p, q = int(input()), int(input())

2
3

In [10]:
import calendar
y = int(input())
m = int(input())
print(calendar.month(y,m))

2023
3
     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [13]:
import math
num = int(input())
print('cube of number is',num**3)
print('cube of number is',math.pow(num,3))
print('cube of number is',int(math.pow(num,3)))

3
cube of number is 27
cube of number is 27.0
cube of number is 27

In [16]:
num1 = int(input())
num2 = int(input())
if num1>num2:
    print("the gratest number is num1",num1)
else: 
    print("the gratest number is num2",num2)

123
1
the gratest number is num1 123

In [20]:
def maximum(num1,num2):
    if num1>num2:
        print("the gratest number is num1",num1)
    else: 
        print("the gratest number is num2",num2)
x = int(input())
y = int(input())
maximum(x,y)

123
1234
the gratest number is num2 1234

In [22]:
# natural numbers for a number n
n = int(input())
for i in range(1,n):
    print(i,end = ' ')

12
1 2 3 4 5 6 7 8 9 10 11

In [23]:
year = int(input())
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2022
2022 is not a leap year

In [24]:
# odd numbers to a particular number
n = int(input())
for i in range(1,n+1):
    if i%2 != 0:
        print(i)

5
1
3
5

In [25]:
# positive or negative
n = int(input())
if n<0:
    print("Negative")
elif n>0:
    print("Positive")

123
Positive

In [28]:
def main():
    
# profit or loss
def profit_or_loss(cp,sp):
    if cp > sp:
        loss = cp - sp
        print("Loss is ",loss)
    elif sp > cp:
        profit = sp - cp
        print("Profit is ",profit)
            
profit_or_loss(100,10000)

Profit is  9900

In [29]:
# square root
import math
n = int(input())
sqrt = math.sqrt(n)
print(sqrt)

25
5.0

In [33]:
# compound intrest
p = 5400
r = 8
n = 3
ci = (p*(1+r/100)**n) - p
print(ci)

1402.4448000000011

In [36]:
n = int(input())
if(n%5 == 0) and (n%11 == 0):
    print("{} is divisible by both 5 and 11".format(n))

55
55 is divisible by both 5 and 11

In [37]:
base = int(input())
exp = int(input())
pow =  math.pow(base,exp)
print(int(pow))

2
3
8

In [40]:
num = int(input())
def mul(n):
    for i in range(1,11):
        print(f" {n} * {i} = {n*i}")
mul(num)

5
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [41]:
import math

a = float(input("Insert coefficient a: "))
b = float(input("Insert coefficient b: "))
c = float(input("Insert coefficient c: "))

discriminant = b**2 - 4 * a * c

if discriminant >= 0:
    x_1=(-b+math.sqrt(discriminant))/2*a
    x_2=(-b-math.sqrt(discriminant))/2*a
else:
    x_1= complex((-b/(2*a)),math.sqrt(-discriminant)/(2*a))
    x_2= complex((-b/(2*a)),-math.sqrt(-discriminant)/(2*a))

if discriminant > 0:
    print("The function has two distinct real roots: {} and {}".format(x_1,x_2))
elif discriminant == 0:
    print("The function has one double root: ", x_1)
else:
    print("The function has two complex (conjugate) roots: {}  and {}".format(x_1,x_2))

Insert coefficient a: 2
Insert coefficient b: 3
Insert coefficient c: 4
The function has two complex (conjugate) roots: (-0.75+1.1989578808281798j)  and (-0.75-1.1989578808281798j)

In [44]:
def reverse(n):
    for i in range(n,0,-1):
        print(i,end = ' ')
        
if __name__ == '__main__':
    reverse(12)

12 11 10 9 8 7 6 5 4 3 2 1

In [46]:
print("Input some integers to calculate their sum and average. Input 0 to exit.")

count = 0
sum = 0.0
number = 1

while number != 0:
	number = int(input(""))
	sum = sum + number
	count += 1

if count == 0:
	print("Input some numbers")
else:
	print("Average and Sum of the above numbers are: ", sum / (count-1), sum)

Input some integers to calculate their sum and average. Input 0 to exit.
1
2
3
4
5
0
Average and Sum of the above numbers are:  3.0 15.0

In [47]:
tuc=int(input("Enter the number of units consumed : "))
if tuc>500:
    amount=tuc*9.25
    surcharge=80
elif tuc>300:
    amount=tuc*7.75
    surcharge=70
elif tuc>200:
    amount=tuc*5.25
    surcharge=50
elif tuc>100:
    amount=tuc*3.75
    surcharge=30
else:
    amount=tuc*2.25
    surcharge=20
billTotal=amount+surcharge
print("Electricity Bill : ",billTotal)

Enter the number of units consumed : 123
Electricity Bill :  491.25

In [48]:
# Python program to find sum of n natural numbers

# take input
num = int(input('Enter a number: '))

# find sum of natural number
sum = 0
x = 1
while x <= num:
 sum += x 
 x += 1

# display result
print('The sum of natural number =', sum)

Enter a number: 2
The sum of natural number = 3

In [1]:
print('hi')

hi

In [2]:
dict = {}
dict[1] = 1
dict['1'] = 2
dict[1] +=1
sum = 0
for k in dict:
    sum +=dict[k]
    
print(sum)

4

In [3]:
coun = {}
def add(cou):
    if cou in coun:
        coun[cou] +=1
    else:
        coun[cou] =1
        
add('China')
add('Japan')
add('china')
print(len(coun))

3

In [4]:
class Acc:
    def __init__(self,id):
        self.id = id
        id = 555
acc = Acc(111)
acc.id

111

In [5]:
ch1= ['le','qu','pra','co']
ch2 = ch1
ch3 = ch1[:]

ch2[0] = 'code'

ch3[1] = 'Mcq'
count = 0
for c in (ch1,ch2,ch3):
    if c[0] =='code':
        count +=1
    if c[1] == 'Mcq':
        count +=10
        
count

12

In [6]:
def ad(lc):
    lc +=[10]
    
mylist = [10,20,30,40]
ad(mylist)
len(mylist)

5

In [8]:
c = 1
def do():
    global c
    
for i in (1,2,3):
    c +=1
do()
c

4

In [9]:
a = True
b = False
c = False
if not a or b:
    print(1)
elif not a or not b and c:
    print(2)
    
elif not a or b or not b and a:
    print(3)
else:
    print(4)

3

In [11]:
if a or b and c:
    print("HELLO")
    else:
        print('hello')

SyntaxError: invalid syntax (Temp/ipykernel_9280/1951518882.py, line 3)

In [12]:
r = lambda q: q*2
s = lambda q: q*3
x = 2
x = r(x)
x = r(x)

24

In [ ]:
x = 1
while True:
    if x% 5 == 0:
        break
        print(x)
        x +=1

In [ ]:
all([2,4,0,6])